path {
  pointer-events: all;
}
path:hover {
  opacity: 0.5;
  cursor: pointer;
}

html,
body {
  overflow-y: scroll;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 10vmin;
  display: inline-block;
}

.footer {
  position: fixed;
  bottom: -3%;
  width: 100%;
  z-index: -3;
}

#root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  /* background-color: blue; */
  overflow-y: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
